.wishlist-container {
  padding: 1rem;
  max-width: 1244px;
  margin: auto;
}

.wishlist-items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (min-width: 630px) {
  .wishlist-items-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .wishlist-items-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .wishlist-items-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .wishlist-items-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
