.cart-page {
  margin: 1.25rem auto auto auto;
  max-width: 1376px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart-products-container {
  margin-right: 1rem;
  max-width: 1100px;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.cart-card {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  border-radius: 0;
}

.cart-product-image {
  display: block;
  height: auto;
  max-width: 120px;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .cart-product-image {
    max-width: 160px;
  }
}

.cart-product-details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.25rem;
}

.cart-product-name {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.cart-product-license {
  margin-bottom: 1rem;
  display: block;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.cart-product-price-mobile {
  margin-right: 1.25rem;
  display: block;
}

.cart-product-price-mobile > p {
  color: var(--success-green);
}

@media (min-width: 640px) {
  .cart-product-price-mobile {
    display: none;
  }
}

.cart-product-price-desktop {
  display: none;
  color: pink;
}

.cart-product-price-desktop > p {
  color: var(--success-green);
}

@media (min-width: 640px) {
  .cart-product-price-desktop {
    display: block;
  }
}

.cart-operation-button {
  border-radius: 9999px;
  background-color: rgba(124, 58, 237, 0.2);
  padding: 0.25rem;
}

.cart-operation-button:disabled {
  cursor: not-allowed;
}

.cart-product-quantity {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 700;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.cart-remove-button {
  color: var(--danger-red);
}
