.toast-container {
  position: fixed;
  width: 350px;
  z-index: 999;
  bottom: 24px;
  right: 16px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.alert {
  display: flex;
  align-items: center;
  line-height: 22px;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  animation-name: toast-from-left;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toast-container > * + * {
  margin-top: 0.5rem;
}

@keyframes toast-from-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
