.product-card {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.product-image-container {
  position: relative;
  margin-bottom: 0.25rem;
  display: flex;
  height: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid #dcdcdc;
  padding-top: 70%;
}

.product-image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  display: block;
  height: auto;
  width: 100%;
  border-radius: 0.25rem;
}

.product-name {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-two);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-extra-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  z-index: 1;
}

.card-button:disabled {
  cursor: not-allowed;
}
