.sidebar {
  position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: fit-content;
  background: white;
  padding: 1.5rem;
  transition-duration: 0.3s;
}

.show-hidebar {
  transform: translateY(0);
}

.hide-sidebar {
  transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 250px;
    overflow-y: scroll;
    min-height: calc(100vh - 4rem);
    position: sticky;
    position: -webkit-sticky;
    top: 3rem;
    flex-shrink: 0;
    align-self: flex-start;
    transform: translateY(0);
  }
}

.sidebar input {
  margin: 0 0.25rem 0 0;
}

.sidebar .nav-header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.nav-label {
  display: block;
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
  font-size: 1rem;
}

.label-container {
  margin-bottom: 1.5rem;
}

.sidebar::-webkit-scrollbar {
  width: 0.25rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 1.2rem;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .close-button {
    display: none;
  }
}
