.sidebar {
  padding: 1.5rem;
  width: 250px;
  overflow-y: scroll;
  height: 85vh;
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  flex-shrink: 0;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar input {
  margin: 0 0.25rem 0 0;
}

.sidebar .nav-header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.nav-label {
  display: block;
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
  font-size: 1rem;
}

.label-container {
  margin-bottom: 1.5rem;
}

.sidebar::-webkit-scrollbar {
  width: 0.25rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 1.2rem;
}
