.empty-message-page {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-message-page img {
  display: block;
  max-width: 100px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.empty-message-page h3 {
  color: var(--gray-two);
}
